<h1><%= @local_artist_song.title %></h1>

<center>
<% song_name = @local_artist_song.title %>

<% song_name %>


<audio src="<%= audio_path song_name %>" type="audio/mpeg" controls>
    Your browser does not support the audio element.
</audio>
</center>
