/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import 'bootstrap';


 h1{
     color:rgb(238, 232, 230);
     text-shadow: 1px 1px 1px #000, 
               3px 3px 5px blue; 
     font: impact  100px Georgia;
     text-align: center;
    margin: auto;
    width: 100%;
 }


/* body {
  
    background-image: url('https://wallpapercave.com/wp/lwfQm84.jpg');
    background-position-y: 150px;
    background-position-x: 5px;
  
    background-size: auto;
  } */

  body.show {
  
    /* background-image: url('https://wallpapercave.com/wp/lwfQm84.jpg'); */
    background-color: bisque;
    background-position-y: 150px; 
    background-position-x: 5px;
  
    background-size: auto;
  }

