
<center>

<%= image_tag("quagmire.png", :alt => "rss feed") %>


<section > 
   <h1> Welcome to Giggity!</font> </h1>
</section>

<h3>Please Select your User Type </h3>
<br>
<%= button_to 'Click here for Artists!', artist_user_path %>
<%= button_to 'Click here for Venues!', venue_user_path %>
</center>


