<h1>Local Artist Search</h1>

<br>
<br>
<br>
<br>
<br>

<center>
<h4> Search Artist by Zipcode: </h4>
<%= form_tag(local_artists_path, method: :get) do %>
<%= text_field_tag(:zipcode, params[:zipcode]) %>
<%= submit_tag "Search" %>
<% end %>
<br>
<%= button_to "Back to Homepage", @venue, method: :get %>
</center>